.card{
    width: 440px;
    height: 218px;
    background: #FFFFFF;
    border: 1px solid #A2A3A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 7px 16px;
    box-sizing: border-box;
    margin-top: 23px;

    h4{
        font-weight: 400;
        font-size: 20px;
        margin: 0;
        margin-bottom: 18px;

        a{
            text-decoration: none;
            color: black;
        }
    }

    .author{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 13px;

        img{
            margin-right: 26px;
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
    }

    .popularity{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;

        img{
            width: 25px;
            height: 25px;
            margin-right: 18px;
        }

        span:first-of-type{
            margin-right: 45px;
        }
    }
}